<form action="create" method="post">

  <div class="input-group">
    <input type="text" class="form-control" name="name" placeholder="Task Name e.g. Laundry" aria-describedby="basic-addon2">
  </div>

  <div class="input-group">
    <input type="text" class="form-control" name="description" placeholder="Task Description e.g. Every Monday, clear your laundry" aria-describedby="basic-addon2">
  </div>

  <div class="input-group">
    <input type="text" class="form-control" name="completed" placeholder="e.g. True or False" aria-describedby="basic-addon2">
  </div>

  <button type="submit">Submit Todo</button>
</form>
