<div class="row content">
  <div class="col-sm-2 sidenav">
    <p>dummy user name</p>
    <p>dummy user role</p>
    <p>dummy user skillsintro</p>
  </div>
  <div class="col-sm-8 text-left">
    <h1>You've got intellectual depth and you want to hear from like-minded individuals?</h1>
    <p>Whether you're seeking ideas, exchange or you simply want to socilaise, this is the place where it all happens.</p>
    <hr>
    <h3>Latest articles from our users</h3>
    <p>FILLER ARTICLES HERE</p>
  </div>
  <div class="col-sm-2 sidenav">
    <div class="well">
      <p>more filler here...</p>
    </div>
    <div class="well">
      <p>more fillers here...</p>
    </div>
  </div>
</div>
</div>
